

.search {
    position: relative;
    height: 35px;
    margin: 1rem;
}

.search input {
    background-color: #fff;
    border: 0;
    font-size: 18px;
    padding: 12px;
    transition: width 0.3s ease;
    width: 35px;
    height: 35px;
    border-radius: 12px 12px 12px 12px;
}

.btn {
    background-color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    width: 35px;
    transition: transform 0.3s ease;
    border-radius: 12px 12px 12px 12px;
}

.btn:focus,
.input:focus {
    outline: none;
}

.search.active .input {
    width: 200px;
    border-radius: 12px 0px 0px 12px;

}

.search.active .btn {
    transform: translateX(198px);
    border-radius: 0px 12px 12px 0px;
}