
.search {
    position: relative;
    height: 30px;
}

.search input {
    background-color: #fff;
    border: 0;
    font-size: 18px;
    padding: 3px;
    width: 30px;
    transition: width 0.3s ease;
    height: 30px;
}

.btn {
    background-color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    transition: transform 0.3s ease;
}

.btn:focus,
.input:focus {
    outline: none;
}

.search.active .input {
    width: 200px;
}

.search.active .btn {
    transform: translateX(198px);
}