
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');





.movie {
    font-family: 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    width: 300px;
    margin: 1rem;
    background-color: #373b69;
    /* box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2); */
    box-shadow: -7px 10px 18px -1px rgba(0,0,0,0.47);
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}

.movie img {
    width: 100%;
}

.movie-info {
    font-family: inherit;
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 1px;
}

.movie-info h3 {
    font-family: inherit;

    margin-top: 0;
}

.movie-info span {
    background-color: #22254b;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green {
    color: lightgreen;
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: red;
}

.overview {
    font-family: inherit;
    background-color: #fff;
    padding: 2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.4s ease-in;
    overflow: scroll;
}

.movie:hover .overview{
    transform: translateY(0)
}
